body{
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

h1{
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.715);
}
h2{
    color: rgba(0, 0, 0, 0.715); 
}

p, li{
    text-align: justify;
    color: #00000092;
}
